In [11]:
a={
    "d":"10",
    "e":"20",
    "f":"30",
}
for i in a:
    print(i)

d
e
f

In [7]:
for i in "hello":
    print(i,end = " ")

h e l l o

In [6]:
#for and while loop 
#for loop -- iterating over a sequence(list,tuple,dict,string)

##string
#for i in "hello":
 #   print(i)
    
   ##list
lst = ["red","blue","green","black"]
for i in lst:
       print(lst)

['red', 'blue', 'green', 'black']
['red', 'blue', 'green', 'black']
['red', 'blue', 'green', 'black']
['red', 'blue', 'green', 'black']

In [ ]:
##nested for loop
lst1 = [1,2,3]
lst2 = ["red","blue","green"]
for i in lst1:
    for j in lst2:
        print(i,j)
        print("-----")

1 red
-----
1 blue
-----
1 green
-----
2 red
-----
2 blue
-----
2 green
-----
3 red
-----
3 blue
-----
3 green
-----
4 red
-----
4 blue
-----
4 green
-----
5 red
-----
5 blue
-----
5 green
-----
6 red
-----
6 blue
-----
6 green
-----

In [ ]:
#find the sum of number from 1 to 10 using while loop
num = 1
total = 0
while num <= 10:
    total += num
    num += 1
    print("sum from 1 to 10 is:",.............................................................[pokoi[[[[[[[koikju0]]]]]]]])

sum from 1 to 10 is:
sum from 1 to 10 is:
sum from 1 to 10 is:
sum from 1 to 10 is:
sum from 1 to 10 is:
sum from 1 to 10 is:
sum from 1 to 10 is:
sum from 1 to 10 is:
sum from 1 to 10 is:
sum from 1 to 10 is:

In [ ]:
##while lloops
i = 1
while i<=10:
    print(i)

In [19]:
## pass   #this we run code without incompleteness
for i in range(1,10):
    pass

In [16]:
##you have to square the given list and print the result in a list
lst = [1,2,3,4,5]
lst1 = []
for i in lst:
    lst1.append(i**2)
    print(lst1)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]

In [14]:
##break and continue
for i in range(1,10):
    if i==5:
        break
    print(i)

1
2
3
4